
.logo{ margin-left:180px;
       margin-right:150px;
}

.home{ margin-left:40px;
       margin-right:40px;
}

.menu{ margin-left:40px;
       margin-right:40px;
}

.about{ margin-left:40px;
         margin-right:40px;
}

.locations{ margin-left:40px;
            margin-right:40px;			
}

.hero{ background-image:url(hero.jpg); 
        text-align:center; 
		background-repeat:no-repeat;
        height: 400px; 
		background-position:center top;
		vertical-align:text-top middle;
}


.badge{ text-align:center; 
}

.awesome{ color:#ebc735; 
         font-family: "Helvetica Neue", Helvetica, sans-serif;
         font-size:24px;
         font-weight:bold; 
		 text-align:center;  	 
}

.paragraph{ text-align:center; 
			 font-family: "Helvetica Neue", sans-serif;
			 font-size: 13px;

}

footer{
    background-color:#e4e4e4;
    color:black;
    font-family: "Helvetica Neue", sans-serif;
    text-align:center;
    padding:50px;
} 

.foot{ text-align:center; 
               padding-top: 10px; 
			   width: 100%; 
}

.left{ float:left;
		font-weight: bold
		font-size: 11px;
		margin-left:40px;
        margin-right:40px;
}

.center{ display:inline-block;
		font-weight: bold
		font-size: 11px;
		margin-left:40px;
        margin-right:40px;
}

.right{ float:right;
		font-weight: bold
		font-size: 11px;
		margin-left:40px;
        margin-right:40px;
}